/* ----------------------------------------------
	Version : 1.3   
	Author : Mr. Chen
	http://g.chofn.com
	@版权所有	
 ------------------------------------------------ */
@charset "utf-8";
/*----------- 全局样式 ----------------*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{font-weight:normal;}
html,body,fieldset,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
ol , ul li , li , ol li{list-style:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53; font-size:14px;color:#333;outline:0;}
body{background:#ffffff;color:#333;}
a{color:#333;}
a{border: none; text-decoration: none;outline:none; /*移除虚线框  IE8,FF有用*/ hide-focus: expression(this.hideFocus=true); /*IE6、IE7*/}
a:focus{outline: 0;-moz-outline-style: none;}
img{overflow: hidden;border: 0 none;}
button,input,select,textarea{font-size:100%;margin: 0;outline: 0 none;vertical-align: baseline;*vertical-align: middle;}
/* ================ 全局function ============ */
.f_ib{display:inline-block;*display:inline;*zoom:1;}
.f_dn{display:none;}
.f_db{display:block;}
.f_fl{float:left;}
.f_fr{float:right;}
.f_oh{overflow:hidden;zoom:1;}
.clear{clear:both;}/* 清除浮动*/

.clear{zoom:1}
.clear:after{content:''; display:table; clear:both; visibility:hidden}

.f_wh100{width: 100%;}

/* 第一个元素 */
.alpha {margin-left: 0;}
/* 最后一个元素 */
.omega {margin-right: 0;}
.f_no_b{border: 0 none;}
/*font function*/
.f_ffa{font-family:'SimSun';}/*标记宋体*/
.f_ffy{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}/*标记微软雅黑字体*/
.f_fs12{font-size:12px;}
.f_fs14{font-size:14px;}
.c_e60012{color: #e60012;}
.bg_2ab6a6{background: #2ab6a6;}
.bg_8fc31f{background: #8fc31f;}
.bg_3499da{background: #3499da;}
.bg_f2a366{background: #f2a366;}

.f_lh18{line-height: 18px;}
.f_lh20{line-height: 20px;}
.f_lh22{line-height: 22px;}
.f_lh24{line-height: 24px;}
.f_lh30{line-height: 30px;}

.f_fwn{font-weight:normal;}/*正常体*/
.f_fwb{font-weight:bold;}/*粗体*/
.f_lhn{line-height:normal;}
.f_csp{cursor:pointer;}

.f_mt10{margin-top: 10px;}
.f_mt20{margin-top: 20px;}
.f_mt25{margin-top:25px;}
.f_mt30{margin-top:30px;}
.f_mt50{margin-top: 50px;}
.f_mt60{margin-top: 60px;}

.f_ml5{margin-left: 5px;}
.f_mr20{margin-right: 20px;}
.f_ml20{margin-left: 20px;}
.f_mr50{margin-right: 50px;}
.f_ml50{margin-left: 50px;}
.f_mtlr20{margin:20px 20px 0 20px;}
.f_mlr20{margin:0 20px;}

.f_pt30{padding-top: 30px;}
.f_pb10{padding-bottom: 10px;}
.f_pb30{padding-bottom: 30px;}
.f_pr20{padding-right: 20px;}
.f_pl20{padding-left:20px;}